<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title><%= title %> | Instant Sale</title>
<link rel="stylesheet" href="/public/style.css" />
<link rel="icon" href="/public/logo.png" type="image/png" />
